@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.env-tab {
  display: none;
  padding-left: 10px;
}

/* siimple overrides */
.siimple-h3 {
  font-size: 24px;
}

.siimple-tabs-item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.siimple-alert .siimple--float-right {
  margin-right: -25px;
}

.siimple-alert {
  font-size: 14px;
}

.siimple-btn--small {
  padding: 0 5px;
}

.m-2 {
  padding: 8px !important;
}

.p-2 {
  padding: 8px !important;
}

.instances-ips .siimple-h3:not(:first-child) {
  margin-top: 15px;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
