{% macro render_env(name, envs, active=False) -%}
<div id="tab-{{ name }}" class="env-tab" {% if active %}style="display:block"{% endif %}>
  <div class="siimple-grid-row">
    {# webservers #}
    <div class="siimple-grid-col siimple-grid-col--3 siimple--text-center instances-ips">
      <span class="siimple-tag siimple-tag--blue">webserver</span>
      {% if envs[name].webservers | length > 1 %}
        <span class="siimple-tag siimple-tag--blue">x{{ envs[name].webservers | length }}</span>
      {% endif %}

      {% for instance_ip in envs[name].webservers %}
        <div class="siimple-h3">{{ instance_ip }}</div>
      {% endfor %}
    </div>
    {# workers #}
    <div class="siimple-grid-col siimple-grid-col--3 siimple--text-center instances-ips">
      <span class="siimple-tag siimple-tag--green">worker</span>
        {% if envs[name].workers | length > 1 %}
        <span class="siimple-tag siimple-tag--green">x{{ envs[name].workers | length }}</span>
      {% endif %}

      {% for instance_ip in envs[name].workers %}
        <div class="siimple-h3">{{ instance_ip }}</div>
      {% endfor %}
    </div>
    {# schedulers #}
    <div class="siimple-grid-col siimple-grid-col--3 siimple--text-center instances-ips">
      <span class="siimple-tag siimple-tag--teal">scheduler</span>
      {% if envs[name].schedulers | length > 1 %}
        <span class="siimple-tag siimple-tag--teal">x{{ envs[name].schedulers | length }}</span>
      {% endif %}

      {% for instance_ip in envs[name].schedulers %}
      <div class="siimple-h3">{{ instance_ip }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--9">
      <div class="siimple-tip siimple-tip--blue siimple-tip--question">
        Connect to a <strong>webserver</strong> using command below
      </div>
      <div class="siimple-alert siimple--color-white siimple--bg-dark">
        $ ssh ubuntu@{{ envs[name].webservers | first }} -i ~/.ssh/gc2-ppe.pem
        <div class="siimple--float-right">
          <button class="siimple-btn siimple-btn--grey siimple-btn--small" title="Copy to clipboard">
            <i data-feather="clipboard"></i>
          </button>
        </div>
      </div>

      <div class="siimple-tip siimple-tip--green siimple-tip--question">
        Connect to a <strong>worker</strong> using command below
      </div>
      <div class="siimple-alert siimple--color-white siimple--bg-dark">
        $ ssh ubuntu@{{ envs[name].workers | first }} -i ~/.ssh/gc2-ppe.pem
        <div class="siimple--float-right">
          <button class="siimple-btn siimple-btn--grey siimple-btn--small" title="Copy to clipboard">
            <i data-feather="clipboard"></i>
          </button>
        </div>
      </div>

      <div class="siimple-tip siimple-tip--teal siimple-tip--question">
        Connect to a <strong>scheduler</strong> using command below
      </div>
      <div class="siimple-alert siimple--color-white siimple--bg-dark">
        $ ssh ubuntu@{{ envs[name].schedulers | first }} -i ~/.ssh/gc2-ppe.pem
        <div class="siimple--float-right">
          <button class="siimple-btn siimple-btn--grey siimple-btn--small" title="Copy to clipboard">
            <i data-feather="clipboard"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
