{% import '_render_instances.html' as inst %}
{% macro render_env(name, envs, active=False) -%}
{% set
  mapping = {
    'webserver': 'blue',
    'worker': 'green',
    'scheduler': 'teal',
  }
%}
<div id="tab-{{ name }}" class="env-tab" {% if active %}style="display:block"{% endif %}>
  <div class="siimple-grid-row">
    {% for instance_type, color in mapping.items() %}
      {{ inst.render_instances(instance_type, envs[name], color) }}
    {% endfor %}
    {# green, teal #}
  </div>

  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--9">
      {% for instance_type, color in mapping.items() %}
        {{ inst.render_commands(instance_type, envs[name], color) }}
      {% endfor %}
    </div>
  </div>
</div>
{%- endmacro %}
