{% extends "base.html" %}
{% block content %}
<div class="siimple-grid">
  <div class="siimple-grid-row">
    <div class="siimple-tabs siimple-tabs--boxed">
      <div id="qa" class="siimple-tabs-item siimple-tabs-item--selected">QA</div>
      <div id="ux" class="siimple-tabs-item">UX</div>
      <div id="ppe" class="siimple-tabs-item">PPE</div>
      <div id="prod" class="siimple-tabs-item">Production</div>
    </div>
  </div>
  <div class="siimple-grid-row">
    {% import '_render_env.html' as tab %}
    {% for env_name in envs.keys() %}
      {% if loop.first %}
        {% set active = True %}
      {% else %}
        {% set active = False %}
      {% endif %}
      {{ tab.render_env(env_name, envs, active=active) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
